<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/css/homepagina.css">
<!-- de layout van de head tag zit in de partails map als head.ejs -->
<%- include('./partials/head.ejs')  %>

<body>
    <!-- Partials codes -->
    <!-- importeer de code door function include te gebruiken -->
    <%- include('./partials/header.ejs')  %>

    <!-- Filter op basis van kleur -->
    <form action="/kleur-filter" method="get">
        <label for="filter">Filtreren met kleur</label>
        <input type="text" name="kleur-filter" id="filter" placeholder="Bij welke kleur wil je filtreren..?">
    </form>

    <main>
        <% matches.forEach(function(match){ %>
        <!-- Hier is een thumbnail van alle afbeeldingen 1-->
        <section>
            <img src="/images/<%= match.url %>" alt="Jurk Afbeelding">

            <figure>
                <nav>
                    <ul>
                        <li><a href="#"><img src="./images/gum.svg" alt="Remove Icoon">Weghalen</a></li>
                        <li><a href="#"><img src="./images/download.svg" alt="Download Icoon">Downloaden</a></li>
                        <li><a href="#"><img src="./images/add.svg" alt="Add Icoon">Toevoegen</a></li>
                    </ul>
                </nav>
            </figure>

            <!-- Informatie over de match -->

            <article>
                <ul>
                    <li> <%=match.gebruikersnaam %> </li>
                    <li><%= match.publicatiedatum %> </li>
                </ul>
                <h2>Beschrijving</h2>
                <p><%= match.beschrijving %> </p>
            </article>

            <form action="/homepagina">
                <label for="pallete">Klik op de kleur</label>
                <input type="color" value="#462A78">
                <button id="eyedropperButton">Open eyedropper</button>
            </form>

        </section>
        <% }) %>
    </main>

    <%- include('./partials/footer.ejs')  %>
    <script src="./js/script.js"></script>
</body>

</html>