<!DOCTYPE html>
<html lang="nl">

<%- include('./partials/head.ejs')  %>

<body>
     <%- include('./partials/nav.ejs')  %>
<!-- output value -->
    <h1>Match heet <%= naam %> </h1>

    <p>Maker is <%= maker %> </p>
    <p>kleur van jurk is <%= kleur %> </p>
<!-- output value tag -->
    
<%- include('./partials/footer.ejs')  %>
</body>

</html>